.slide {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 10vw; */
    background-color: #fff;
}

.slide.willActivate {
}


.slide.willDeactivate {
}

.slide.activeSlide {
    z-index: 1000;
}
